01-IoT-Physical-Computing/node-red/astroagro-flow.json
[
  {
    "id": "astroagro-tab",
    "type": "tab",
    "label": "AstroAgro Sentinel",
    "disabled": false,
    "info": "Fluxo IoT para agricultura sustentável na nova economia espacial."
  },
  {
    "id": "mqtt-broker-local",
    "type": "mqtt-broker",
    "name": "MQTT Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "node-red-astroagro",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "astroagro/status",
    "birthQos": "0",
    "birthPayload": "{\"source\":\"node-red\",\"message\":\"online\"}",
    "closeTopic": "astroagro/status",
    "closeQos": "0",
    "closePayload": "{\"source\":\"node-red\",\"message\":\"offline\"}"
  },
  {
    "id": "ui-tab-astroagro",
    "type": "ui_tab",
    "name": "AstroAgro",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui-group-sensors",
    "type": "ui_group",
    "name": "Sensores",
    "tab": "ui-tab-astroagro",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui-group-risk",
    "type": "ui_group",
    "name": "Risco e comandos",
    "tab": "ui-tab-astroagro",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "sqlite-astroagro",
    "type": "sqlitedb",
    "db": "database/astroagro.db",
    "mode": "RWC"
  },
  {
    "id": "mqtt-in-sensors",
    "type": "mqtt in",
    "z": "astroagro-tab",
    "name": "Telemetria ESP32",
    "topic": "astroagro/sensores",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 100,
    "wires": [
      [
        "function-risk"
      ]
    ]
  },
  {
    "id": "function-risk",
    "type": "function",
    "z": "astroagro-tab",
    "name": "Calcular Índice AstroAgro",
    "func": "const data = msg.payload;\nconst previousSoil = context.get('previousSoil');\n\nfunction clamp(value, min, max) {\n    return Math.max(min, Math.min(max, value));\n}\n\nconst dryScore = clamp((45 - Number(data.soil_moisture)) * 1.8, 0, 45);\nconst heatScore = clamp((Number(data.air_temperature) - 28) * 2.3, 0, 25);\nconst lightScore = clamp((Number(data.luminosity) - 65) * 0.35, 0, 12);\nconst orbitalScore = clamp(Number(data.orbital_index || 0) * 14, 0, 14);\nconst trendScore = previousSoil !== undefined && Number(data.soil_moisture) < previousSoil - 2 ? 8 : 0;\nconst riskScore = Math.round(clamp(dryScore + heatScore + lightScore + orbitalScore + trendScore, 0, 100));\ncontext.set('previousSoil', Number(data.soil_moisture));\n\nlet riskLevel = 'baixo';\nlet recommendation = 'Manter monitoramento.';\nif (riskScore >= 70) {\n    riskLevel = 'alto';\n    recommendation = 'Enviar alerta e irrigar se houver água disponível.';\n} else if (riskScore >= 40) {\n    riskLevel = 'médio';\n    recommendation = 'Monitorar tendência e preparar irrigação preventiva.';\n}\n\nlet state = 'Normal';\nif (Number(data.water_level) < 20 || (data.irrigation_active && !data.flow_detected)) {\n    state = 'Falha Operacional';\n    recommendation = 'Economizar água e verificar o reservatório ou a bomba.';\n} else if (data.irrigation_active) {\n    state = 'Irrigação Ativa';\n} else if (Number(data.soil_moisture) < 25 && Number(data.air_temperature) > 34 && Number(data.luminosity) > 75) {\n    state = 'Crítico';\n} else if (Number(data.soil_moisture) < 35 || Number(data.air_temperature) > 32) {\n    state = 'Atenção';\n}\n\nconst enriched = {\n    ...data,\n    risk_score: riskScore,\n    risk_level: riskLevel,\n    application_state: state,\n    recommendation,\n    processed_at: new Date().toISOString()\n};\n\nconst sql = `INSERT INTO telemetry (\n    device_id, soil_moisture, air_temperature, air_humidity, luminosity,\n    water_level, flow_detected, irrigation_active, orbital_index,\n    risk_score, risk_level, application_state, recommendation\n) VALUES (\n    '${enriched.device_id}', ${Number(enriched.soil_moisture)}, ${Number(enriched.air_temperature)}, ${Number(enriched.air_humidity)}, ${Number(enriched.luminosity)},\n    ${Number(enriched.water_level)}, ${enriched.flow_detected ? 1 : 0}, ${enriched.irrigation_active ? 1 : 0}, ${Number(enriched.orbital_index || 0)},\n    ${riskScore}, '${riskLevel}', '${state}', '${recommendation.replace(/'/g, \"''\")}'\n);`;\n\nconst autoCommand = state === 'Crítico' && Number(data.water_level) >= 20 ? { payload: 'ON' } : null;\nconst alertNeeded = riskLevel === 'alto' || state === 'Crítico' || state === 'Falha Operacional';\nconst alertText = `Alerta AstroAgro: estado ${state}, risco ${riskLevel}. Solo: ${data.soil_moisture}%, temperatura: ${data.air_temperature}C, água: ${data.water_level}%. ${recommendation}`;\n\nconst dashboardMsg = { payload: enriched };\nconst sqliteMsg = { topic: sql };\nconst commandMsg = autoCommand;\nconst telegramMsg = alertNeeded ? {\n    payload: {\n        chat_id: env.get('TELEGRAM_CHAT_ID'),\n        text: alertText\n    },\n    url: `https://api.telegram.org/bot${env.get('TELEGRAM_BOT_TOKEN')}/sendMessage`,\n    headers: { 'Content-Type': 'application/json' }\n} : null;\nconst alertTopicMsg = alertNeeded ? { payload: { ...enriched, alert: alertText } } : null;\n\nreturn [dashboardMsg, sqliteMsg, commandMsg, telegramMsg, alertTopicMsg];",
    "outputs": 5,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 100,
    "wires": [
      [
        "ui-soil",
        "ui-temperature",
        "ui-water",
        "ui-risk",
        "ui-state",
        "debug-enriched"
      ],
      [
        "sqlite-insert"
      ],
      [
        "mqtt-out-irrigation"
      ],
      [
        "switch-telegram-configured"
      ],
      [
        "mqtt-out-alerts",
        "debug-alerts"
      ]
    ]
  },
  {
    "id": "sqlite-insert",
    "type": "sqlite",
    "z": "astroagro-tab",
    "mydb": "sqlite-astroagro",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Gravar SQLite",
    "x": 680,
    "y": 160,
    "wires": [
      [
        "debug-sqlite"
      ]
    ]
  },
  {
    "id": "mqtt-out-irrigation",
    "type": "mqtt out",
    "z": "astroagro-tab",
    "name": "Comando automatico",
    "topic": "astroagro/comandos/irrigacao",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-local",
    "x": 700,
    "y": 220,
    "wires": []
  },
  {
    "id": "switch-telegram-configured",
    "type": "switch",
    "z": "astroagro-tab",
    "name": "Telegram configurado?",
    "property": "payload.chat_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 700,
    "y": 280,
    "wires": [
      [
        "http-telegram"
      ]
    ]
  },
  {
    "id": "http-telegram",
    "type": "http request",
    "z": "astroagro-tab",
    "name": "Enviar Telegram",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 940,
    "y": 280,
    "wires": [
      [
        "debug-telegram"
      ]
    ]
  },
  {
    "id": "mqtt-out-alerts",
    "type": "mqtt out",
    "z": "astroagro-tab",
    "name": "Publicar alertas",
    "topic": "astroagro/alertas",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-local",
    "x": 690,
    "y": 340,
    "wires": []
  },
  {
    "id": "ui-soil",
    "type": "ui_gauge",
    "z": "astroagro-tab",
    "name": "Umidade do solo",
    "group": "ui-group-sensors",
    "order": 1,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Solo",
    "label": "%",
    "format": "{{msg.payload.soil_moisture}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#d94f30",
      "#e5b93c",
      "#3f9f6b"
    ],
    "seg1": "30",
    "seg2": "45",
    "x": 690,
    "y": 40,
    "wires": []
  },
  {
    "id": "ui-temperature",
    "type": "ui_gauge",
    "z": "astroagro-tab",
    "name": "Temperatura",
    "group": "ui-group-sensors",
    "order": 2,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Temperatura",
    "label": "C",
    "format": "{{msg.payload.air_temperature}}",
    "min": 0,
    "max": "50",
    "colors": [
      "#3f9f6b",
      "#e5b93c",
      "#d94f30"
    ],
    "seg1": "32",
    "seg2": "36",
    "x": 690,
    "y": 80,
    "wires": []
  },
  {
    "id": "ui-water",
    "type": "ui_gauge",
    "z": "astroagro-tab",
    "name": "Nível de água",
    "group": "ui-group-sensors",
    "order": 3,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Reservatorio",
    "label": "%",
    "format": "{{msg.payload.water_level}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#d94f30",
      "#e5b93c",
      "#277da1"
    ],
    "seg1": "20",
    "seg2": "45",
    "x": 900,
    "y": 40,
    "wires": []
  },
  {
    "id": "ui-risk",
    "type": "ui_gauge",
    "z": "astroagro-tab",
    "name": "Indice de risco",
    "group": "ui-group-risk",
    "order": 1,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Indice AstroAgro",
    "label": "risco",
    "format": "{{msg.payload.risk_score}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#3f9f6b",
      "#e5b93c",
      "#d94f30"
    ],
    "seg1": "40",
    "seg2": "70",
    "x": 900,
    "y": 80,
    "wires": []
  },
  {
    "id": "ui-state",
    "type": "ui_text",
    "z": "astroagro-tab",
    "group": "ui-group-risk",
    "order": 2,
    "width": 6,
    "height": 2,
    "name": "Estado e recomendação",
    "label": "Estado",
    "format": "{{msg.payload.application_state}} - {{msg.payload.recommendation}}",
    "layout": "row-spread",
    "x": 930,
    "y": 120,
    "wires": []
  },
  {
    "id": "ui-switch-irrigation",
    "type": "ui_switch",
    "z": "astroagro-tab",
    "name": "Irrigação manual",
    "label": "Irrigação manual",
    "tooltip": "",
    "group": "ui-group-risk",
    "order": 3,
    "width": 3,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "manual",
    "topicType": "str",
    "style": "",
    "onvalue": "ON",
    "onvalueType": "str",
    "onicon": "",
    "oncolor": "",
    "offvalue": "OFF",
    "offvalueType": "str",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "x": 170,
    "y": 420,
    "wires": [
      [
        "mqtt-out-manual-irrigation"
      ]
    ]
  },
  {
    "id": "mqtt-out-manual-irrigation",
    "type": "mqtt out",
    "z": "astroagro-tab",
    "name": "Comando manual",
    "topic": "astroagro/comandos/irrigacao",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-local",
    "x": 430,
    "y": 420,
    "wires": []
  },
  {
    "id": "debug-enriched",
    "type": "debug",
    "z": "astroagro-tab",
    "name": "telemetria processada",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 970,
    "y": 180,
    "wires": []
  },
  {
    "id": "debug-sqlite",
    "type": "debug",
    "z": "astroagro-tab",
    "name": "sqlite",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 930,
    "y": 220,
    "wires": []
  },
  {
    "id": "debug-alerts",
    "type": "debug",
    "z": "astroagro-tab",
    "name": "alertas",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 930,
    "y": 340,
    "wires": []
  },
  {
    "id": "debug-telegram",
    "type": "debug",
    "z": "astroagro-tab",
    "name": "telegram resposta",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1160,
    "y": 280,
    "wires": []
  }
]
